<div data-dojo-attach-point="signinOuterContainer" class="esriCTFullHeightWidth">
    <div class="esriCTSignInScreenBack">
    </div>
    <div class="esriCTSigninMainDiv" data-dojo-attach-point="signInMainContainer">
        <div class="esriCTSigninSplash">
            <div data-dojo-attach-point="signinBgImage" class="esriCTSigninImageDiv">
                <div>
                    <div>
                        <div class="dvrpcAppNameBanner">

                            <div class="titleKennett">Kennett Area</div>
                            <div class="subtitleKennett">Freight Transportation Study</div>
                            <img style="margin-top:20px;" src="/images/dvrpc-logo.png" alt="DVRPC Logo">
                            <div tabindex="-1" data-dojo-attach-point="signinContainerName" class="esriCTSigninAppNameDiv">
                                
                            </div>
                        </div>
                        <hr data-dojo-attach-point="signinCaptionSeparator" class="esriCTSigninOrLine" width="250px" />
                        <div tabindex="0" data-dojo-attach-point="signinContainerText" class="esriCTSigninAppCaptionDiv">
                        </div>
                        
                    </div>
                    <div class="signinTextOverview">
                            <p>The Kennett Area Freight Transportation Study is intended to build a better understanding of transportation needs in Kennett Square Borough, Avondale Borough, Kennett Township, East Marlborough Township, London Grove Township, and New Garden Township. This study aims to develop a set of strategies with a comprehensive approach to truck routing and other strategies to meet freight related travel needs in ways that are compatible with other needs in this area.</p>
                            <p>This web based tool is an effort to better understand the issues in the study area. We are seeking your input on the issues that only you, as a local user of the transportation system or resident of the community can provide. This tool allows you to report issues, concerns, or your own recommendations on the map and provide a brief note to the project team. We will utilize this input to guide our recommendations. </p>
                            <p style="font-size:1.2em"><b>Get started below</b> or <span role="link" tabindex="0" data-dojo-attach-point="signinHelpLink" class="esriCTSigninHelpLink"></span></p>
                        </div>
                    <div class="esriCTSigninCenterDiv" data-dojo-attach-point="signInGuestButtonContainer">
                        <div class="esriCTSigninGapPosition">
                            <div role="button" tabindex="0" data-dojo-attach-point="signinGuestButton" class="esriCTSigninGuestBtn esriCTIconsBackground">
                            </div>
                            <div data-dojo-attach-point="signinGuestUser">
                            </div>
                        </div>
                        <div data-dojo-attach-point="signinOrDiv" class="esriCTSigninOrDiv">
                            <span class="esriCTEllipsis esriCTOrdiv" data-dojo-attach-point="signinOrText"></span>
                        </div>
                    </div>
                    <div class="esrictsigninSocialdiv">
                        <div class="esriCTSocialMediaSigninContainer" data-dojo-attach-point="socialMediaSigninContainer">
                            <div data-dojo-attach-point="signinOptions" class="esriCTSigninWithTxt">
                            </div>
                            <div>
                                <div role="button" tabindex="0" data-dojo-attach-point="signinFBButton" class="esriCTSigninFBButton esriCTIconsBackground">
                                </div>
                                <div role="button" tabindex="0" data-dojo-attach-point="signinTwitterButton" class="esriCTSigninTwitterButton esriCTIconsBackground">
                                </div>
                                <div role="button" tabindex="0" data-dojo-attach-point="signinGPlusButton" class="esriCTSigninGPlusButton esriCTIconsBackground">
                                </div>
                                <div role="button" tabindex="0" data-dojo-attach-point="signinEsriButton" class="esriCTSigninEsriButton esriCTIconsBackground">
                                </div>
                            </div>
                        </div>
                        <div  class="esriCTSigninHelpContainerDiv" data-dojo-attach-point="signinHelpContainer">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
